{
  "extends": "@istanbuljs/nyc-config-typescript",
  "include": [
    "**/*.ts"
  ],
  "exclude": [
    "coverage/**",
    "node_modules/**",
    "**/*.d.ts",
    "**/*.test.ts",
    "src/**/*.spec.ts",
    "src/configurations/*.ts"
  ],
  "sourceMap": true,
  "reporter": [
    "html",
    "text",
    "text-summary"
  ]
}
